$theme-color: #d8eefd;
$primary-color: #687a8f;
$secondary-color: #dcc7aa;
$tertiary-color: #f7882f;
$quaternary-color: #f7c331;
$theme-secondary-color: #edfafb;
$dark-grey-text-color: #36414e;
$facebook-blue: #3b5998;
$google-red: #e63537;
$white-color: #ffffff;
$black-color: #000000;
$whitish-color: #fcfcfc;
