@use './partials/resets' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;
@use './partials/utility' as *;

.bg-header-color {
    background: $white-color;
}

.bg-header-color .btn-link {
    color: whitesmoke;
}

.cms-container {
    height: 300px;
}

.overflow-y-scroll {
    overflow-y: scroll;
}

.login-btn {
    background-color: $primary-color;
    color: $white-color;
    border: none;
}

.login-btn:hover {
    background-color: $primary-color;
    color: $dark-grey-text-color;
}

.orange-btn {
    background-color: $tertiary-color;
    color: $white-color;
    border: none;
}

.orange-btn:hover {
    background-color: $tertiary-color;
    color: $dark-grey-text-color;
}

.login-btn-secondary {
    background-color: $secondary-color;
    color: $dark-grey-text-color;
    border: none;
}

.login-btn-secondary:hover {
    background-color: $primary-color;
}

.btn-menu-item {
    background: transparent;
    font-weight: 400;
}

.btn-menu-item:hover {
    background: $primary-color;
    color: $white-color;
}

.landing-section-card-btn {
    width: 240px;
    height: 240px;
    margin: 5px;
    margin-left: 20px;
}

.landing-section-card-btn p {
    color: $black-color;
}

.landing-section-card-btn:hover {
    background-color: $primary-color;
    cursor: pointer;
}

.footer {
    /* margin-top: 20px; */
    padding: 40px;
    background-color: $primary-color;
}

.footer-links a {
    font-size: 14px;
    color: $dark-grey-text-color;
    padding-top: 15px;
    font-weight: 400;
}

.footer-links a:hover {
    color: $white-color;
}

.social-media-icons i {
    font-size: 28px;
    padding: 5px;
}

.social-media-icons i:hover {
    cursor: pointer;
}

.copyright-txt {
    font-size: 12px;
}

.copyright-div {
    padding: 10px;
    border-top: 1px solid $black-color;
}

.copyright-div a {
    color: $dark-grey-text-color;
}

.copyright-div a:hover {
    color: $white-color;
}

.section-text-style {
    color: $black-color;
}

.custom-link-btn {
    font-size: 14px;
    color: $primary-color;
    font-weight: 400;
    padding: 15px;
}

.custom-link-btn:hover {
    color: $black-color !important;
}

.header-custom-menu-link button {
    border: none !important;
    color: $primary-color;
}

.testimonial-card {
    margin: 5px;
    background-color: $secondary-color;
    border-radius: 20px;
    height: 350px;
    width: 90%;
    overflow: hidden;
}

.testimonial-card:nth-child(odd) {
    border-bottom-left-radius: 0px;
}

.testimonial-card:nth-child(even) {
    border-bottom-right-radius: 0px;
}

.fa-star {
    color: $tertiary-color;
}

.testimonial-bar {
    width: 100%;
    border-top: 1px solid #676e854d;
}

.testimonial-profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.testimonial-profile-name {
    font-size: 12px;
    font-weight: bolder;
}

.testimonial-profile-text {
    font-size: 12px;
}

.profile-icon {
    width: 60px;
}

.profile-login-icon {
    @include center;
    width: 53px;
    height: 53px;
    background: $tertiary-color;
    border-radius: 100%;
    align-self: center;

    color: $dark-grey-text-color;
}

.home-list-items {
    width: 90%;
    border: none;
}

.sandwich-icon {
    background-color: $primary-color;
}

.profile-dropdown {
    background-color: $tertiary-color;
    color: $dark-grey-text-color;
    border: none;
    margin: none;
}

.profile-dropdown:hover {
    background-color: $tertiary-color;
}

@media screen and (max-width: 768px) {
    .profile-login-icon {
        width: 34px;
        height: 34px;
    }
}

@media screen and (max-width: 500px) {
    .profile-icon {
        width: 40px;
    }

    .profile-login-icon {
        width: 35px;
        height: 35px;
    }
    .testimonial-card {
        width: 90%;
    }
}

.font-small {
    font-size: small;
}

.font-extra-small {
    font-size: x-small;
}

.forgot-passowrd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facebook-btn {
    background: $facebook-blue;
    color: $white-color;
    border: none;
}

.google-btn {
    background: $google-red;
    color: $white-color;
    border: none;
}

.google-btn:hover {
    background: #ea4335;
}

.ruler {
    width: 90%;
    height: 1px;
    top: 55%;
    background: $primary-color;
    margin-top: 5%;
}

.font-grey {
    color: $primary-color;
}

.font-dark-grey {
    color: $dark-grey-text-color;
}

.circular-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 1px solid $primary-color;
    background-color: $tertiary-color;
}

.circular-profile-pic:hover {
    cursor: pointer;
}

.avatar-icon {
    color: $dark-grey-text-color;
}

.cursor-pointer {
    cursor: pointer;
}

.my-pet-profile-pic {
    @include center;
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    border-width: 1px solid $primary-color;
    background-color: $quaternary-color;
}

@media screen and (width>768px) {
    .testimonial-section-container {
        margin: 0px 20px;
        /* height: 500px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .testimonial-section-container::-webkit-scrollbar {
        width: 0.1em;
    }

    .testimonial-section-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .testimonial-section-container::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}

.navbar-toggler {
    font-size: inherit;
}

.error-toaster {
    background-color: $tertiary-color;
}

.loading-modal .modal-content {
    background-color: transparent;
    justify-content: center;
    align-items: center;
    border: none;
}

.offcanvasNavbarDropdown div {
    border: none;
}

.offcanvasNavbarDropdown div a:hover {
    color: $black-color;
}

.center {
    @include center;
}

.horizontal-scrollable {
    overflow-x: scroll;
}

.products {
    background: $theme-color;
    border-radius: 20px;
}

.horizantal-scroll {
    overflow-x: auto;
    white-space: nowrap;
    flex-wrap: nowrap;
    padding-left: 0px 50px;
}

.custom-width {
    width: 200px;
}

.text-bold {
    font-weight: bold;
}

.service-item-container {
    @include box-shadow-elevation;
    margin: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.services-images {
    height: 100%;
    width: 100%;
}

.bg-primary-container {
    background-color: $primary-color;
}

.bg-secondary-container {
    background-color: $secondary-color;
}

.br-10 {
    border-radius: 10px;
}

.br-15 {
    border-radius: 15px;
}

.br-20 {
    border-radius: 20px;
}

.btn-pointer:hover {
    cursor: pointer;
}

.text-line-through {
    text-decoration: line-through;
}

.flex-1 {
    flex: 1;
}

.text-capitalize {
    text-transform: capitalize;
}

.pet-assistant-tab {
    ul {
        li {
            button {
                color: $primary-color;
            }
        }
    }
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    background-color: $primary-color;
    color: $white-color;
}

.total-expense-row {
    background-color: $primary-color;
    color: $white-color;
}

.activity-tab-image {
    width: 40px;
}

.non-bordered-tab .nav-tabs {
    border: none;
}

.pet-assistant-activity-tab-image {
    width: 70px;
}

.article-item {
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
