* {
    font-family: 'Comfortaa', cursive;
}

:root {
    --theme-color: #d8eefd;
    --primary-color: #687a8f;
    --secondary-color: #dcc7aa;
    --tertiary-color: #f7882f;
    --quaternary-color: #f7c331;
    --theme-secondary-color: #edfafb;
    --dark-grey-text-color: #36414e;
    --facebook-blue: #3b5998;
    --google-red: #e63537;
}

.bg-header-color {
    background: var(--secondary-color);
}

.bg-header-color .btn-link {
    color: whitesmoke;
}

.login-btn {
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
}

.login-btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.btn-menu-item {
    background: transparent;
    font-weight: 400;
}

.btn-menu-item:hover {
    background: var(--primary-color);
    color: #fff;
}

.landing-section-card-btn {
    width: 140px;
    height: 140px;
    background: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    margin: 5px;
    margin-left: 20px;
}

.landing-section-card-btn p {
    color: #000;
}

.landing-section-card-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.footer {
    /* margin-top: 20px; */
    padding: 40px;
    background-color: var(--primary-color);
}

.footer-links a {
    font-size: 14px;
    color: var(--dark-grey-text-color);
    padding-top: 15px;
    font-weight: 400;
}

.footer-links a:hover {
    color: #ffffff;
}

.social-media-icons i {
    font-size: 28px;
    padding: 5px;
}

.social-media-icons i:hover {
    cursor: pointer;
}

.copyright-txt {
    font-size: 12px;
}

.copyright-div {
    padding: 10px;
    border-top: 1px solid #000;
}

.copyright-div a {
    color: var(--dark-grey-text-color);
}

.copyright-div a:hover {
    color: #fff;
}

.section-text-style {
    color: #000;
}

.custom-link-btn {
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 400;
    padding: 15px;
}

.custom-link-btn:hover {
    color: #000 !important;
}

.header-custom-menu-link button {
    border: none !important;
    color: var(--primary-color);
}

.testimonial-card {
    margin: 5px;
    background-color: var(--secondary-color);
    border-radius: 20px;
    height: 350px;
    width: 90%;
    overflow: hidden;
}

.testimonial-card:nth-child(odd) {
    border-bottom-left-radius: 0px;
}

.testimonial-card:nth-child(even) {
    border-bottom-right-radius: 0px;
}

.fa-star {
    color: var(--tertiary-color);
}

.testimonial-bar {
    width: 100%;
    border-top: 1px solid #676e854d;
}

.testimonial-profile {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.testimonial-profile-name {
    font-size: 12px;
    font-weight: bolder;
}

.testimonial-profile-text {
    font-size: 12px;
}

.profile-icon {
    width: 60px;
}

.sandwitch-icon {
    width: 53px;
    height: 53px;
    background: #fff;
    border-radius: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-list-items {
    background: #f7882f;
    width: 90%;
}

@media screen and (max-width: 500px) {
    .profile-icon {
        width: 40px;
    }

    .sandwitch-icon {
        width: 35px;
        height: 35px;
    }
    .testimonial-card {
        width: 90%;
    }
}

.font-small {
    font-size: small;
}

.font-extra-small {
    font-size: x-small;
}

.forgot-passowrd-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facebook-btn {
    background: var(--facebook-blue);
    color: #fff;
    border: none;
}

.google-btn {
    background: var(--google-red);
    color: #fff;
    border: none;
}

.google-btn:hover {
    background: #ea4335;
}

.ruler {
    width: 90%;
    height: 1px;
    top: 55%;
    background: var(--primary-color);
    margin-top: 5%;
}

.font-grey {
    color: var(--primary-color);
}

.font-dark-grey {
    color: var(--dark-grey-text-color);
}

.circular-profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-width: 1px solid var(--primary-color);
    background-color: var(--tertiary-color);
}

.circular-profile-pic:hover {
    cursor: pointer;
}

.avatar-icon {
    color: var(--dark-grey-text-color);
}

.cursor-pointer {
    cursor: pointer;
}

.my-pet-profile-pic {
    min-width: 250px;
    min-height: 250px;
    border-radius: 50%;
    border-width: 1px solid var(--primary-color);
    background-color: var(--quaternary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (width>768px) {
    .testimonial-section-container {
        margin: 0px 20px;
        /* height: 500px; */
        display: flex;
    }

    .testimonial-section-container::-webkit-scrollbar {
        width: 0.1em;
    }

    .testimonial-section-container::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .testimonial-section-container::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }
}
